<table class="table table-dark table-striped table-bordered" style="max-width: 1000px;">

    

    
    <tbody>
         {%- if docstatus == 1 -%}
        <tr>
            <td style="width: 20%"><a href="{{route}}">
               {{doc.name}}
           </a>
            </td>
             <td style="width: 20%">
                {{ doc.product_name}}
            </td>
            <td style="width: 20%">
                {{ doc.customer_name}}
            </td>
             <td style="width: 20%">
                {{ doc.payment_status }}
            </td>
           
           {%- endif -%}
            
        </tr>
       
    </tbody>
</table>
 





<!-- this is a sample default list template -->