<!-- <div>
	<a href={{ route }}>{{ title }}</a>
</div> -->
<!-- this is a sample default list template -->

<!--for demo wrap-->


<!-- <style>
		table,
		tr {
			text-align: center;
			border: 1px solid black;
			border-collapse: collapse;
			padding: 8px;
	</style> -->
<table class="table table-warning table-striped table-bordered" style="max-width: 1000px;">

	<tbody>

		<tr>
			<td style="width: 20%; text-align:center;"><a href={{route}}>
					{{name}}</a>
			</td>
			<td style="width: 20%; text-align:center;">
				{{mobile_number}}
			</td>
			<td style="width: 20%; text-align:center;">
				{{address}}
			</td>

		</tr>

	</tbody>
</table>

<table class="table table-dark table-striped table-bordered" style="max-width: 1000px;">